body {
  background-color: black;
}

@font-face {
    font-family: 'Pacfont';
    src: url('./PAC-FONT.TTF');
}

#game {
    width: 600px;
    height: 720px;
    position: relative;
    margin: 0 auto;
    border: 2px solid blue;
}

h2 {
  font-size: 32px;
  cursor: pointer;
  text-align: center;
  color: white;
  font-family: 'Pacfont';
}

h3 {
  font-size: 16px;
  text-align: center;
  color: white;
  font-family: 'Krungthep';
}

.gamewindow {
  position: absolute;
}

#maze {
  background-image: url("../img/maze.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  bottom: 45px;
  width: 600px;
  height: 720px;
  z-index: 0;
}

#starting_screen {
  background: black;
  width: 600px;
  height: 720px;
  z-index: 4;
}

#arrowKey {
  margin-left: 100px;
  width: 120px;
  height: 40px;
}

#pacman-logo {
  width: 600px;
}

#pac-fixed {
  display: none;
  z-index: 3
}

#pac-ui {
  z-index: 1
}

#pac-animate {
  z-index: 2
}
