body {
  background-color: black;
}

#game {
    width: 560px;
    height: 720px;
    position: relative;
    margin: 0 auto;
    border: 2px solid red;
}

canvas {
  position: absolute;
}

#pac-background {
  z-index: 1
}

#pac-UI {
  z-index: 0
}
