<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Project BYOMAN</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <script data-main="/js/index" src="/js/assets/require.js"></script>
    <script>
    require(['index'], function() {
      require(['/js/assets/gameInit.js'])
    });
    </script>
  </head>
  <body>
    <div id="game">
      <canvas id="pac-fixed" class="gamewindow" width="600" height="720"></canvas>
      <canvas id="pac-ui" class="gamewindow" width="600" height="720"></canvas>
      <canvas id="pac-animate" class="gamewindow" width="600" height="720"></canvas>
      <div id="maze"></div>
    </div>
  </body>
</html>
